<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.XinQingWu">
        <activity
            android:name=".TreeHolePublishActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".ProfileEditActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".ZodiacDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".HealingNightDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".DivinationZoneDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".HotRoomsDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".SoulmateDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".SynastryDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".TarotDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".TreeHoleDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".FortuneDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".PrivacyActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".TermsActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".CountryPickerActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.XinQingWu" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.XinQingWu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
